.loaderBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;

  border: 10px solid var(--color-white);
  border-bottom: 10px solid var(--color-black);

  animation: spin infinite 1.5s linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
